<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/adminOmraade/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRolle</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>AnsattConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Ansatt</web-resource-name>
            <description/>
            <url-pattern>/ansattOmraade/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AnsattRolle</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>BrukerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Bruker</web-resource-name>
            <description/>
            <url-pattern>/brukerOmraade/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>BrukerRolle</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Logg_inn/login.html</form-login-page>
            <form-error-page>/Logg_inn/logginnError.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Full admintilgang</description>
        <role-name>AdminRolle</role-name>
    </security-role>
    <security-role>
        <description>Begrenset adminbruker</description>
        <role-name>AnsattRolle</role-name>
    </security-role>
    <security-role>
        <description>Tilgang til brukerdata</description>
        <role-name>BrukerRolle</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>jdbc/localhostDS</res-ref-name>
        <res-type> javax.sql.DataSource</res-type>
        <res-auth> Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>Servlets.Bruker.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Servlets.Bruker.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForm</servlet-name>
        <servlet-class>Servlets.Bruker.UpdateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisBoenhetsTyper</servlet-name>
        <servlet-class>Servlets.Bestilling.VisBoenhetsTyper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForm</servlet-name>
        <url-pattern>/UpdateForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisBoenhetsTyper</servlet-name>
        <url-pattern>/VisBoenhetsTyper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
